
.aboutCardsSection h1 {
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards {
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.cards div{
    margin-bottom: 8vw;
}
