
.button {
    background-color: #8F8FDB;
    width: 20vw;
    min-height: 8vw;
    border-radius: 1rem;
    border: 2px solid transparent;
    font-weight: 800;
    letter-spacing: 0.1em;

}

.button:hover {
    background-color: #241650;
    border-color: #8F8FDB;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}