
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #302A67;
    border-radius: 10px;
    padding: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.logo li {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;

}


.button {
    background-color: #8080D7;
    border-radius: 5px;
    justify-content: center;
    border: 2px solid transparent;
    padding: 5px;
}
.navbar li {
    display: flex;
    margin-right: 10px;
    margin: 5px;
    flex-direction: row;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.navbar p {
    font-size: 1.2rem;
}

.button:hover {
    border-color: #8080D7; 
    background-color: #302A67;  
}

.active {
    border-radius: 5px;
    justify-content: center;
    border: 2px solid #8080D7;
    padding: 5px;
    background-color: #302A67;
}